<link  href="styles/main.css"   rel="stylesheet" type="text/css" />

<h1>Contact index</h1>

<br><div class="cont">	
                   <div class="contact">contact1</div> 
                   <div class="contact">contact2</div>
                   <div class="contact">contact3</div>
</div> <br>